body{
    margin: 0;
}

main{
    background-color: #e3e3e3;
    padding: 25px 25px;
}

* {
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-space-between{
    justify-content: space-between;
}

.justify-content{
    justify-content: center;
}

.gallery-imgs{
    padding: 50px;
    display: grid;
    grid-template-columns: 253px 253px 253px;
    grid-gap: 21px;
    justify-content: center;
}

.gallery-imgs img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    cursor: pointer;
}

.hidden-div{
    display: none;
}

/* .btn-nav {
    color: #000000;
    border: 1px solid black;
    font-size: 50px;
} */


.btn-nav{
    margin-right: 20px;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-container{
    background-color: #ff7f00;
    height: 66px;
    align-items: center;
}

.header-container .logo{
    margin-left: 46px;
}



.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: #ff7f00;
    height: 207px;
}

.footer img{
    margin-bottom: 16px;
}

.wiki-meme{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.control-btn img{
    width: 100%;
    height: 100%;
}

.text-on-meme{
padding: 5px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 17px;
    font-size: 20px;
    height: 60px;
    width: 100%;
    margin-bottom: 6px;
    text-align: center;
}

.color-input{
    position: relative;
    cursor: pointer;
}

.color-input-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.font-changer{
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    height: 60px;
}

.control-btn{
    display: inline-block;
    border-radius: 4px;
    border: none;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-size: 1.em;
    padding: 5px;
    transition: all 0.8s;
    cursor: pointer;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.second-editing-line .control-btn:not(:last-child){
justify-content: space-between;
}

.third-editing-line{
    display: flex;
}

.meme-editor{
    margin-left: 99px;
    text-align: center;
    max-height: 514px;
}

.stickers-container {
    width: 100%;
}

@media (max-width: 1116px){
    .meme-editor{
        margin-left: 0px;
    }
}

@media (max-width: 1026px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .meme-editor{
        margin: 0;
    }

    .gallery-imgs{
        grid-template-columns: 353px;
    }

    /* .stickers-container{

    } */
}